node_modules
package-lock.json
*.cpuprofile
.env
*.env
.env*
Jenkinsfile
**/*.md
globalConfig.json
.eslintrc.json
.gitignore
.gitignore
.prettierrc
vault
test
dist
scripts
documentation
.vscode
.trunk
.templates
coverage
